#{extends 'default.html' /}
#{set title:'Home' /}

<h1>Sha1 in progress</h1>

<p>
A block is composed of 294813 different values
</p>

<script src="@{'/public/javascripts/sha1.js'}" type="text/javascript" charset="utf-8"></script>
<!-- <script src="@{'/public/javascripts/gwtCompile/jsChalleng.nocache.js'}" type="text/javascript" charset="utf-8"></script> -->
<script type="text/javascript" language="javascript" src="${rootUrl}app/jsChalleng/jsChalleng.nocache.js"></script>

<div id="content"></div>

<div id="result"></div>
