#{extends 'default.html' /}

<div class="span-11 colborder">
<p class="disclaimer">
This website is a small experience about computer clustering and JavaScript. Contribute with a simple log in ;).
</p>

<h1>Total block: <b>${total}</b></h1>
<p>Total block handled since the beginning of the experience
</p>

</div>

<!--  <form action="@{Login.authenticate()}" method="POST">
    <label for="user">Can we use your google account ?</label>
    <input type="hidden" name="authurl" id="user" value="http://www.google.com/accounts/o8/id" />
    <input type="submit" value="Yes" />
    <a href="@{Login.refuse()}">No</a>
</form>-->

<div class="span-12 last">

<h1>Authentification</h1> 

<h2>Log with:</h2>
<div class="logDiv"">
<a href="@{Login.authenticate("http://www.google.com/accounts/o8/id")}"><img src="@{'/public/images/login/google.gif'}" alt ="google"/></a>
<a href="@{Login.authenticate("http://facebook.anyopenid.com/")}"><img src="@{'/public/images/login/facebook.gif'}" alt ="facebook"/></a>
<a href="@{Login.authenticate("http://me.yahoo.com")}"><img src="@{'/public/images/login/yahoo.gif'}" alt ="yahoo"/></a> 
<!-- <a href="@{Login.authenticate("anonymous")}"><img src="@{'/public/images/login/anonymous.gif'}" alt ="anonymous"/></a> -->
</div> 

</div>
